<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Home</title>
    <style>
        body{
            background-image:url(/static/foodvisor-app.jpeg) ;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .home{
            font-style: oblique;
            color: white;
            margin-top: 100px;
            margin-left: 110px;
        }
    </style>
</head>
<body style="background-color:#FFC4C4;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-primary bg-dark">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signin') }}">SignIn</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="home">
            <h1>NUTRIENT ASSISTANT</h1>
            <p>"Tell me what you eat,and I will tell you what you are!!!"</p>
            <p>Have healthy diet buy joining us today!!!</p>
            <br>
            <br>
            <br>
            <h3>Assistant</h3>
            <ul>
                <li>Assist on nutrient intake</li>
                <li>Plan Flexible diet plan</li>
                <li>Assist you well to make you stay healthy</li>
            </ul>
      </div>
</body>
</html>