<html>
    <head>
        
        <script>
            window.watsonAssistantChatOptions = {
              integrationID: "1e42b6e7-1f99-4390-b0a5-f641ce9d38d8", // The ID of this integration.
              region: "au-syd", // The region your integration is hosted in.
              serviceInstanceID: "83a7b662-d22a-4c5c-a1bc-8624b32d743d", // The ID of your service instance.
              onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
              document.head.appendChild(t);
            });
          </script>
          <style>
            img{
              width: 150;
              height: 150;
            }
          </style>
    </head>
    <body>
        <img src="https://nutas.s3.jp-tok.cloud-object-storage.appdomain.cloud/i1.jpg" alt="loading"/>
        <img src="https://nutas.s3.jp-tok.cloud-object-storage.appdomain.cloud/i2.png" alt="loading"/>
        <img src="https://nutas.s3.jp-tok.cloud-object-storage.appdomain.cloud/i3.jpeg" alt="loading"/>
        <img src="https://nutas.s3.jp-tok.cloud-object-storage.appdomain.cloud/i4.jpeg" alt="loading"/>
        <img src="https://nutas.s3.jp-tok.cloud-object-storage.appdomain.cloud/i5.jpeg" alt="loading"/>
    </body>
</html>