<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Home</title>
    <style>
        body{
            background-image: url(/static/img2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .home{
            font-style:oblique;
            color:white;
            font-size: large;
            font-weight: 650;
            margin-top: 100px;
            margin-left: 500px;
        }
    </style>
</head>
<body style="background-color:#FFC4C4;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signin') }}">SignIn</a>
            </li>
          </ul>
        </div>
        </nav>
      </header>
      <div class="home">
            <h1>NUTRITION ASSISTANT</h1><br>
            <p style="margin-left:60px;">WE CARE ABOUT YOUR HEALTH!!!</p>
            <p style="margin-left:90px;">"Eat healthy,live happily"</p>
            <br>
            <h3>In this application you can...</h3>
            <ul>
                <li>Track calories intake</li>
                <li>Physical activity observation</li>
                <li>Get food recommendations</li>
            </ul>
      </div><br>
      <p style="color:white;font-size: large;font-weight: 650;margin-left: 500px;">"Let food be thy medicine and medicine be thy food"</p>
</body>
</html>