<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Object Storage</title>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "e5179f7e-d045-42e6-869e-152896bc1242", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "04102a81-d14d-4f8b-817e-7c6b8a89e195", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
    <style>
        img{
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>
    <table>
    <td><img src="https://ibm-hm.s3.jp-tok.cloud-object-storage.appdomain.cloud/hms_ar.jpg" alt="loading"></td>
    <td><img src="https://ibm-hm.s3.jp-tok.cloud-object-storage.appdomain.cloud/hm2.png" alt="loading"></td>
    <td><img src="https://ibm-hm.s3.jp-tok.cloud-object-storage.appdomain.cloud/hm_3.png" alt="loading"></td> 
    <td><img src="https://ibm-hm.s3.jp-tok.cloud-object-storage.appdomain.cloud/hm_4.png" alt="loading"></td>   
    <td><img src="https://ibm-hm.s3.jp-tok.cloud-object-storage.appdomain.cloud/hm_5.jpg" alt="loading"></td>
    </table>
    
</body>
</html>